<style>
  .db-business .lhs,.db-business .rhs {
    height: 547px;
    border-radius: 1.25rem;
    position: relative;
    color: #fff;
    padding: 2.5rem 2.5rem;
  }

  .db-business .rhs {
    background: #4CAF50;
  }
  .db-business .lhs {
    background: #0ABC8A;
  }

  .db-business .t35 {
    font-size:  2.2rem;
    font-weight: bold;
    color: #fff;
  }
  .db-business .help-section .t35 {
    color: #000;
    margin-bottom: 2rem;
  }
  .db-business .t16{
    line-height:  2.2rem;
  }
 .db-business .t26{font-size: 1.51rem;
line-height: 164.3%;
color: #FFFFFF;}
  .help-section {
    height: 600px;
    background: rgba(178, 208, 166, 0.2);
    border-radius: 1.25rem;
    padding: 2.5rem;
    margin-top: 3rem;
  }

  .btn.btn-custom {
    width: 185px;

    height: 54px;
    background: #00A476;
    border-radius: 16px;
  }
  .db-business .lhs .t26, .db-business .rhs .t26 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.db-business button.btn.btn-custom {
    color: #fff;
    margin-top: 3rem;
}
  .db-business .section-container{margin-top: 2rem;}
</style>
<div class="db-business">
  <div class="header d-flex">
    <div class="t30">Your companies</div>
    <button class="btn btn-green ml-auto">Create new company</button>
  </div>
  <div class="row section-container">
    <div class="col-md-6 col-sm-12">
      <div class="lhs">
        <div class="t35">Esignatures</div>
        <div class="t26">Scale Faster and Seamlessly with E signatures from Wizard legal</div>
        <div class="t16">Get customisable plans for your business, firm or even personal endeavours. It's easy to use,
          reliable, secure and legally valid. Kickstart and scale your business faster with our unique
          plans.</div>
        <button class="btn btn-custom">Get started</button>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="rhs">
        <div class="t35">Documents</div>
        <div class="t26">The largest Industry specific directory of legal documentation is here!!!</div>
        <div class="t16">Traditional documentation methods might be slowing you down and it's time for a healthy
          change. Select the legal documentation package per your industry and scale your business faster than before.
          Aid your legal team or even help yourself to reliable, secure, legally valid and professional
          drafted documents for everyday use.</div>
        <button class="btn btn-custom">Get started</button>
      </div>
    </div>
  </div>
  <div class="help-section">
    <div class="t35 black">Help Section</div>
    <div class="t16">Accommodate the Right Legal Infrastructure for your Business. We make It Faster, Easier
      and Secure!!
      Each Industry has a meticulously laid out system for executing legal documentation. Let it be
      Marketing, Real Estate or Even a Freelance business, the name of the game remains the
      same.
      Efficiency!!!
      Gain access to a unique collection of industry-specific legal documents and e-signature
       workflow to enhance, scale and produce efficiency in all your business endeavours.
      Say goodbye to delays in document execution, high attorney fees and inefficiency.
      Save up to 95% on documentation and e-signature services, aid your in-house legal
      department and focus on upscaling your business.
      Work faster, smarter and efficiently with wizard legal for business and grow your industry in
      ways you’ve never imagined before.
      It's time to reintegrate and revive the business process.</div>
  </div>
</div>