<style>
    .db-business .lhs {
      height: 547px;
      background: #0ABC8A;
      border-radius: 20px;
      position: relative;
    }
  
    .db-business .rhs {
      height: 547px;
      background: #4CAF50;
      border-radius: 20px;
    }
  </style>
  <div class="db-business">
    <div class="header d-flex">
      <div class="t30">Your companies</div>
      <button class="btn btn-green ml-auto">Create new company</button>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="lhs">
  
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="rhs">
  
        </div>
      </div>
    </div>
  </div>







  <style>
  
  </style>
<div class="tabs-wrap integration-page">
  <nav>
    <div class="nav nav-tabs" id="nav-integration-tabs" role="tablist">
      <button class="nav-link active t20" id="nav-storage-tab" data-toggle="tab" data-target="#nav-storage" type="button"
        role="tab" aria-controls="nav-storage" aria-selected="true">Storage</button>
      <button class="nav-link t20" id="nav-crm-tab" data-toggle="tab" data-target="#nav-crm"
        type="button" role="tab" aria-controls="nav-crm" aria-selected="false">CRM</button>
      <button class="nav-link t20" id="nav-api-tab" data-toggle="tab" data-target="#nav-api"
        type="button" role="tab" aria-controls="nav-crm" aria-selected="false">API</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tab-contents">
    <div class="tab-pane fade show active" id="nav-storage" role="tabpanel" 
      aria-labelledby="nav-storage-tab"></div>
    <div class="tab-pane fade show active" id="nav-crm" role="tabpanel"
      aria-labelledby="nav-crm-tab"></div>
    <div class="tab-pane fade show active" id="nav-api" role="tabpanel"
      aria-labelledby="nav-api-tab"></div>
  </div>
</div>