<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>

<div class="toast align-items-center success toast-success-wrap" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-content">
    <div class="content-body d-flex align-items-center">
      <div class="icon me-4">
        <i class="fi fi-rr-badge-check d-flex"></i>
      </div>
      <div class="d-flex justify-content-between w-100">
        <div>
          <h5 class="fw-bold mb-1">Success</h5>
          <p class="text-muted mb-0 toast-msg">Hello, world! This is a toast message.</p>
        </div>
        <div>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="toast align-items-center warning toast-warning-wrap" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-content">
    <div class="content-body d-flex align-items-center">
      <div class="icon me-4">
        <i class="fi fi-rr-exclamation d-flex"></i>
      </div>
      <div class="d-flex justify-content-between w-100">
        <div>
          <h5 class="fw-bold mb-1">Warning</h5>
          <p class="text-muted mb-0 toast-msg">Hello, world! This is a toast message.</p>
        </div>
        <div>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="toast align-items-center erro toast-error-wrap" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-content">
    <div class="content-body d-flex align-items-center">
      <div class="icon me-4">
        <i class="fi fi-rr-cross-circle d-flex"></i>
      </div>
      <div class="d-flex justify-content-between w-100">
        <div>
          <h5 class="fw-bold mb-1">Error</h5>
          <p class="text-muted mb-0 toast-msg">Hello, world! This is a toast message.</p>
        </div>
        <div>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>

      </div>
    </div>
  </div>
</div>