<style>
  .db-users .users-wrap {
    display: flex;
    margin-top: 3rem;
  }

  .db-users .user {
    text-align: center;
    margin: 0 1rem;
  }

  .db-users .header1 {
    display: flex;
    align-items: center;
  }

  .db-users .user .t16 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
</style>
<div class="db-users">
  <div class="header1">
    <div class="t30">Users <span class="green-text">(2)</span></div>
    <div class="input-search-box ml-auto mr-4">
      <input class="input-style-text" placeholder="Search exercises..." />
      <div class="search-box"></div>
    </div>
    <button class="btn btn-green" onclick="addNewUser()">Add new user</button>
  </div>
  <div class="users-wrap"></div>
</div>