@font-face {
    font-family: ps;
    src: url('../../fonts/Product Sans Regular.ttf');
}

@font-face {
    font-family: psBold;
    src: url('../../fonts/Product Sans Bold.ttf');
}

@font-face {
    font-family: gs;
    src: url('../../fonts/google-sans-regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ps;
}

.input-style-wrap {
    margin-bottom: 1.5rem;
    position: relative;
}

.input-style-text,
.input-style-wrap input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
    padding: 1rem 1.5rem 1.075rem;
    width: 100%;
    height: 3.5rem;
    background: #FFFFFF;
    border: 1px solid #1DD1A1;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
}

.input-search-box {
    height: 3rem;
    background: #FFFFFF;
    box-shadow: 0.525rem 1.5rem 3.5rem rgba(0, 0, 0, 0.03);
    border-radius: 0.525rem;
    display: flex;
    cursor: pointer;
}

.search-box {
    background: url(/assets/img/dashboard/db/search.png) 0.5rem 0.9rem no-repeat #0ABC8A;
    width: 3rem;
    height: 3rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.input-search-box input {
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 0;
}

.input-style-wrap input[type='checkbox'] {
    height: 1.5rem;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #1DD1A1;
    border: 1px solid #1DD1A1;
    border-radius: 4px;
    width: 1.5rem;
}

.input-style-wrap input:focus~.input-style-wrap input label::before {
    box-shadow: none !important;
}

.form-check.input-style-wrap {
    display: flex;
    align-items: center;
}

.form-check.input-style-wrap label {
    margin-left: 1.5rem;
}

.line1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.input-style-wrap label {
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #11142D;
    font-weight: bold;
}

.btn {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 2rem;
    height: 3.075rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.btn-cancel {
    background: #E7E7E7;
    color: #888FA7;
}

.btn-green {
    color: #fff;
    background: #0ABC8A;
}

.btn-white {
    color: #0ABC8A;
    background: #fff;
}
.btn.br-26 {
    border-radius: 1.8rem;
}
.btn-md {
    height: 3.5rem;
    padding: 1rem 1.9rem;
    width: auto;
    border-radius: 1rem;
}

.hidden {
    display: none;
}

button#btnToggle {
    position: absolute;
    right: 1rem;
    top: 4rem;
    outline: none;
    border: none;
    background: #fff;
}

.grey-text {
    font-size: 1rem;
    line-height: 120%;
    color: #9A9AB0;
}

.black-text {
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #000000;
}

.t25 {
    font-size: 1.5rem;
    line-height: 166%;
    color: #6B6B6B;
}

.t40 {
    font-size: 2.5rem;
    line-height: 159%;
    color: #000;
}

.t50 {
    font-size: 3.1rem;
    line-height: 159%;
    color: #000000;
}

.t20 {
    font-size: 1.25rem;
    color: #000000;
}

.t30 {
    font-size: 1.9rem;
    line-height: 159%;
    color: #3D3D3D;
}

.t35 {
    font-size: 2.2rem;
    line-height: 159%;
    color: #000000;
}

.t14 {
    font-size: 0.9rem;
    line-height: 1rem;
    color: #6B6B6B;
}

.t12 {
    font-size: 0.75rem;
    line-height: 1rem;
}

.t18 {
    font-size: 1.25rem;
    line-height: 1.4rem;
    color: #292D32;
}

.green-text,
.green {
    color: #0ABC8A;
}
.grey{
    color: #6B6B6B;
}

.toaster {
    padding: 1rem 1.5rem;
    border-radius: 11px;
}

.toaster.error {
    background: #FDF6F6;
    color: #FF6664;
}


.black {
    color: #000;
}

.white,
.white-text {
    color: #fff;
}

.form-check.input-style-wrap {
    position: relative;
}

.form-check.input-style-wrap label {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type=checkbox]:checked+label {
    background: #0ABC8A;
}

.label-text {
    padding-left: 3rem;
}

.form-check.input-style-wrap label:after {
    content: '';
    width: 1rem;
    height: 0.5rem;
    position: absolute;
    top: 7px;
    left: 5px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:checked+.label:before {
    width: 5px;
    background: #333;
}
.error-input{
    border: 2px solid rgb(177, 13, 13) !important;
}
input[type='checkbox'].error-input + label {
    border: 2px solid rgb(177, 13, 13) !important;
}

.form-check.input-style-wrap label:hover::after {
    opacity: 0.3;
}

.form-check.input-style-wrap input[type=checkbox] {
    display: none;
}

.form-check.input-style-wrap input[type=checkbox]:checked+label:after {
    opacity: 1;
}

/* end .squaredThree */

.btn.btn-small {
    width: auto;
    padding: 0 2rem;
    font-size: 0.9rem;
    height: 1.9rem;
}

.input-style-wrap button.btn.btn-secondary.dropdown-toggle {
    background: #fff;
    color: #6b6b6b;
    width: 100%;
    height: 4rem;
    margin-top: 1.5rem;
    border: none;
    outline: none;
    border-radius: 1.25rem;
    text-align: left;
    padding-left: 7%;
    font-size: 1.25rem;
}

.ddn-item {
    margin-bottom: 4rem;
}

.input-style-wrap .t20 {
    text-align: left;
}

.ddn-item.input-style-wrap {
    margin-bottom: 4rem;
    width: 40%;
    margin-left: 1rem;
}

.ddn-item.input-style-wrap .dropdown-menu {
    width: 100%;
}

.circular-progressbar {
    width: 6.9rem;
    height: 6.9rem;
    position: relative;
}

.progress.circle {
    position: relative;
}

.progress-number {
    position: absolute;
}

.sort,
.filter {
    width: 3.1rem;
    height: 3.1rem;
}

.nav-link {
    display: block;
    padding: 0.75rem 4rem;
    background: #fff;
}

.nav-tabs .nav-link {
    border-color: transparent !important;
    background: transparent !important;
}

.nav-tabs .nav-link.active {
    color: #00AA7A;
    background-color: #fff;
    border-bottom: 4px solid #00AA7A !important;
}


.table-wrap {
    min-height: 16rem;
    background: #FFFFFF;
    box-shadow: 0.6rem 24px 54px rgba(0, 0, 0, 0.03);
    border-radius: 22px;
}

tbody .desc,
.tbody .desc {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #AEAEAE;
    margin-top: 0.7rem;
}

.threedots {
    position: relative;
    cursor: pointer;
}

.red{color: #E53935;}

.threedots .db-home-options,
.threedots .options {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 8rem;
    display: none;
    background: #fff;
    z-index: 1;
}

.table-wrap {
    padding: 2rem 1.5rem;
}

tbody tr {
    height: 7rem;
}

.db-home table input {
    margin-top: 2rem;
}

.threedots .db-home-option,
.threedots .option {
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    color: #000;
    border: 1px solid #ccc;
    padding: 0.6rem;
    display: flex;
    align-items: center;
}

table thead tr {
    height: 3.8rem;
    background: #D4F3EA;
    border-radius: 22px;
}

tbody tr {
    height: 108px;
    box-shadow: 0.6rem 24px 54px rgba(0, 0, 0, 0.03);
    border-radius: 22px;
}

.box {
    background: #FFFFFF;
    border-radius: 1.25rem;
    padding: 2rem;
}

.input-style-item label {
    font-size: 1.25rem;
}

.input-style-item input,
.input-text-style {
    background: #F8FAFB;
    border: 1px solid #F5F5F5;
    border-radius: 1.25rem;
    height: 3.1rem;
    padding-left: 1rem;
}

.form-group.input-style-item {
    margin-top: 2rem;
}

.input-style-item textarea {
    height: 6.5rem;
    background: #F8FAFB;
    border: 1px solid #F5F5F5;
    border-radius: 1.25rem;
    width: 100%;
}

.input-style-item .info,
.info-text {
    font-size: 14px;
    line-height: 150.3%;
    color: #6B6B6B;
    margin-bottom: 0.6rem;
}

.dfc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-orange {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 1.5rem;
    height: 3.1rem;
    background: #ECAD81;
    box-shadow: 0.6rem 24px 54px rgba(0, 0, 0, 0.03);
    border-radius: 0.6rem;
    color: #fff;
}

.btn-red {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    height: 3.1rem;
    background: #FD8280;
    box-shadow: 0.6rem 24px 54px rgba(0, 0, 0, 0.03);
    border-radius: 0.6rem;
    color: #fff;
}

.fdc-m {
    display: flex;
}

.modal-content {
    box-shadow: 0.6rem 24px 54px rgb(0 0 0 / 3%);
    border-radius: 1.25rem;
    padding: 2rem 2rem 2rem 2rem;
}

.m-header {
    font-size: 22px;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.m-header img{cursor: pointer;}

.m-footer {
    display: flex;
    margin-top: 2re;
}

.m-footer button {
    width: 45%;
}

.m-footer button.btn.btn-green {
    margin-left: auto;
}

.limit-modal-body .t18.text-center {
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.modal-80 .modal-dialog {
    width: 90% !important;
    max-width: 90%;
}

.db-nav-icon {
    margin-left: 2rem;
    margin-right: 1.2rem;
}

.btn.btn-green.right-arrow {
    background: #0ABC8A url(/assets/img/dashboard/icons/right-icon.png) 90% 55% no-repeat;
}

.doc-status.inprogress-icon {
    padding-left: 3rem;
    background: url(/assets/img/dashboard/icons/inprogress-icon.png) 0 0 no-repeat;
}

.doc-status.completed-icon {
    padding-left: 3rem;
    background: url(/assets/img/dashboard/icons/completed-icon.png) 0 0 no-repeat;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #19C194;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #19C194;
}
.btn-primary:hover,.btn.btn-green:hover {
    color: #fff;
    background-color: #2de5b0;
    border-color: #1dc897;
    font-weight: bold;
}
.blur{
    filter: blur(2px);
}
.transparent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
}
.upgrade-small-notification{
    padding: 1px 9px;
    width: 4rem;
    height: 1.25rem;
    background: #FFF2AE;
    font-size: 0.75rem;
    border-radius: 5px;
    margin-left: 0.5rem;
}
@media only screen and (max-width:600px) {
    .fdc {
        flex-direction: column;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    html {
        font-size: 0.8rem;
    }
}