<div class="section12 cs9 faq-content-wrap">
    <div class="cs15 text-center">Frequently asked questions</div>
    <div class="t24 mt-2 mb-3 text-center">W.L Home F.A.Qs :</div>
    <div class="faq-wrap mt-4">
    </div>
  </div>
  <style>
    .section12 {
        background: #d7f2ea;
        padding: 6rem 2rem;
        margin: 3rem auto 4rem auto;
        width: 93%;
        border-radius: 77px;overflow: hidden;
    }
    .faq-wrap {
    padding: 1rem 12%;
    }
    .faq-wrap .question img.img {
        width: 35px;
        min-width: 35px;
    }
    .faq-wrap .t24 {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .faq {font-family: 'Poppins', sans-serif;
    min-height: 7rem;
    border-top: 1px solid #ccc;
    padding-top: 2rem;
    float: left;
    width: 50%;
    cursor: pointer;}
    .answer {
        padding-left: 15%;
        margin-bottom: 2rem;
    }
    .faq.open .img-wrap1 {
        transform: rotate(90deg);
    }
    .question{display: flex;margin-bottom: 1rem;}
    .question .img-wrap1 {margin-right: 2rem;}
    .cs15{font-size: 35px;font-family: 'Poppins', sans-serif;}
    .cs9 > .t24.mt-3.mb-3.text-center{font-family: 'Poppins', sans-serif;}
    .section12.cs9.faq-content-wrap{display: none;}
    @media only screen and (max-width: 1400px){
        .section12 {
            padding: 6rem 0rem;
        }
    }
    @media only screen and (max-width: 700px){
        .cs15 {font-size: 23px;}.faq {
        width: 100%;
        }
        .section12.cs9.faq-content-wrap{display: none;}
    }
  </style>
