<footer>
    <style>
        footer .r1{background: #1F2024;padding: 6rem 5% 9rem 10%;display: flex;}
        footer .r2{background: #000000;
    padding: 1rem;
    text-align: center;
    min-height: 5rem;
    color: #B9B9B9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'gs';
}
        footer .col1 .t1 span{color: #8E8E8E;margin-right: 1rem;}
        footer .col2{padding-left: 10rem;}
        footer .col3 {padding-top: 3rem;}
        footer .col1 .img{max-width: 100%;}
        footer .f-rhs .txt{color: #AEAEAE;margin-bottom: 1.5rem;}
        footer .imgs-wrap1 .img {max-width: 11.5rem;}
        footer .socialmedia-icons{margin-top: 5rem;}
        .csf1{line-height: 3.25rem !important;margin-bottom: 1rem;}
        .footer-img-wrap{margin-bottom: 4rem;}
        footer .links .bold{color: #fff;margin-bottom: 2.5rem;}
        .f-lhs{width:32%}
        .f-rhs{width: 68%;}
        .links.t20 {width: 25%;}
        @media only screen and (min-width: 800px) and (max-width: 1400px) {
            footer{overflow: hidden;}
            .f-lhs.col1 .t1{font-size: 1rem;}
            footer .r1 {padding: 6rem 6% 9rem 5%;}
        }
        @media only screen and (max-width:700px) {
            .r1.row {flex-direction: column;}
            .f-rhs.d-flex.col2 {flex-direction: column;padding-left: 0;margin-top: 2rem;
                width: 94%;display: block !important;}
            .d-flex.media-wrap {flex-direction: column;padding: 0 0.6rem;}
            .section-row .rhs, .section-row .lhs {width: 100%;}
            .links.t20 {
        float: left;
        width: 8rem;
    }
    .f-lhs {
        width: 92%;
    }footer .r1 {
    padding: 1rem 2% 2rem 8%;
    display: flex;
}.csf1 {line-height: 1.8rem !important;}
}
    </style>
    <div class="r1 row">
        <div class="f-lhs col1">
            <div class="t24 white-txt csf1">Wizard legal mission is to create a billion new software developers by <span class="green">2030</span>.</div>
            <div class="footer-img-wrap"><img src="../assets/img/footer-img1.png" class="img" alt="stats"></div>
            <div class="t20 mt-4 text-left t1"><span>Terms</span><span> Privacy </span><span>OSS Refunds </span><span>Contact Us</span></div>
        </div>
        <div class="f-rhs d-flex col2">
            <div class="links t20">
                <div class="bold txt">Menu</div>
                <div class="txt mt-4">Home</div>
                <div class="txt">Documents</div>
                <div class="txt">For Business</div>
                <div class="txt">E signature</div>
                <div class="txt">Pricing</div>
            </div>
            <div class="links t20">
                <div class="bold txt">Explore</div>
                <div class="txt mt-4">Templates</div>
                <div class="txt">Updates</div>
                <div class="txt">Blog</div>
                <div class="txt">E signature</div>
                <div class="txt">Jobs</div>
            </div>
            <div class="links t20">
                <div class="bold txt">HIRING</div>
                <div class="txt mt-4">Resources</div>
                <div class="txt">Community</div>
                <div class="txt">Support</div>
                <div class="txt">Video Guides</div>
                <div class="txt">Documentation</div>
            </div>
            <div class="links t20">
                <div class="bold txt">RESOURSES</div>
                <div class="txt mt-4">Resources</div>
                <div class="txt">Community</div>
                <div class="txt">Support</div>
                <div class="txt">Video Guides</div>
                <div class="txt">Documentation</div>
            </div>
        </div>
    </div>
    <div class="r2 t20 lightgrey-txt">Copyright ©2022 Wizard legal Limited . All Rights Reserved.</div>
</footer>