<section class="works-container inner-banner" id="how-it-works">
    <div class="steps-container">
      <div class="text-container text-center">
        <h2>How it works!</h2>
      </div>
      <div class="row steps-wrap">
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="step-wrap"><img class="step" src="../assets/img/step1.png" alt="Step 1" /></div>
            <h4>Create document</h4>
            <div class="t22">Answer essential questions to complete the automated document.</div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="step-wrap"><img class="step" src="../assets/img/step2.png" alt="Step 2" /></div>
            <h4>Save Documents</h4>
            <div class="t22">Your document is ready to be used and shared as required.</div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="step-wrap"><img class="step" src="../assets/img/step3.png" alt="Step 3" /></div>
            <h4>Sign document</h4>
            <div class="t22">Sign your document using universally accepted Aadhar and biometrics based
              authentication.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
      .steps-container {padding: 0px 10%;}
.row.steps-wrap {
    margin-top: 1rem;align-items: center;
}
.works-container2{
    background-image: url(../img/document-banner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
}
.works-container h2{
  font-family: psBold;color: #000 !important;font-size: 3rem;margin-top: 3rem;}
.works-container .card img{height: 10vw;width: auto;}
.works-container .card{text-align: center;
    border: none;
    margin-top: 15%;}
.works-container .card p{
  color: #5D5D5D;
    font-size: 1vw;
    line-height: 1.6vw;
    margin: 6px auto 0 auto;
    padding: 0 11%;
    width: 92%;
}
.works-container h4{font-size: 1.5vw;color: #444444;}
.works-container .step-wrap {margin-bottom: 2vw;}

@media only screen and (max-width: 700px){
    .works-container .card {
        text-align: center;
        border: none;
        margin-top: 7%;
    }
    .works-container h2 {
        margin-top: 2rem;
        font-size: 2rem;
    }
    .works-container h4 {
    font-size: 1.1rem;
}
    .works-container .card p {
      font-size: 14px;padding: 0 0%;line-height: 1.1rem;
    }
  section#how-it-works2 {
    margin-bottom: 1rem;
    padding-top: 0rem;
    padding-bottom: 2.75vw;
  }
}
/*
@media only screen and (min-width: 700px) and (max-width:1400px){
  .works-container .card p {
    font-size: 1.1rem;padding: 0 0%;line-height: 22px;
  }
  .works-container .card{
    margin-top: 5%;height: 18rem;
  }
  .works-container .card img{height: 120px;width: 120px;}
  .works-container .step-wrap{margin-bottom: 1.5rem;}
}
*/
  </style>