  <!-- trial -->
  <section id="popularDocWrap" class="popularDocWrap document-creation-container sample-document document-tab document-tab1 scroll-tab scroll-tab1">
    <div class="docs-container">
      <h2 class="heading2 text-center">Our Popular Documents</h2>
      <div class="doc-row">
          <form action="" class="form2">
            <input type="" placeholder="Search your legal document here...">
            <button type="submit" class="btn-style4">
              <img src="../assets/img/search.svg" alt="">
            </button>
          </form>
        <div class="section-row wrap section14">
          <div class="lhs2">
            <div class="right-container" id="categoryListLhs">

            </div>
          </div>

          <div class="rhs2">
            <div id="accordion">
              <div class="card">
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-header" id="headingOne">

                    <h4 class="text-green">Agreements</h4>
                    </h5>
                  </div>
                  <div class="card-body">
                    <div class="w-100">
                      <div class="scroll-section .scrollable-element">
                        <div class="doc-inner" id="listOfDocumentsRhs">


                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
  </section>
<style>
#popularDocWrap .document-creation-container .btn-style1 {
    padding: 5px 1.25rem;
    font-size: 16px;
    height: 36px;
    border-radius: 16px;
    font-family: 'ps';
}
.popularDocWrap .document-tab .card {border: none;}
.popularDocWrap .document-tab form {
    display: flex;
    justify-content: right;
    margin-bottom: 1.9rem;
    width: 68%;
    margin-left: auto;
}
.popularDocWrap .doc-row {
    margin-top: 2rem;
}
.popularDocWrap .sample-document {width: 82%;}
.popularDocWrap #accordion .scroll-section {
    height: 400px;
}
.popularDocWrap .section-row #accordion button.btn-style1 {
    margin-top: 0rem;
}
.popularDocWrap .lhs2 {width: 27%;}
.popularDocWrap .rhs2 {
    width: 68%;
    margin-left: 5%;
    padding: 0.3rem;
    border: 1px solid #09BB8B26;
    border-radius: 1.25rem;
}
section#popularDocWrap {
    background: #F9FCFB;
    border-radius: 4rem;
    margin-top: 7rem;
}
.popularDocWrap input {
    width: 62%;
    margin-left: auto;
}
.popularDocWrap .rhs2 h4.text-green {font-family: 'Poppins', sans-serif;font-size: 1.25rem;}
@media only screen and (min-width: 800px) and (max-width: 1400px) {
  .popularDocWrap .document-tab .btn {
        font-size: 16px;
    }
    .popularDocWrap .document-tab .sub-accordion a {
        font-size: 14px;
    }
    .popularDocWrap .right-container a {
      font-size: 16px;
    }
}

@media only screen and (max-width: 700px) {
  div#listOfDocumentsRhs a {
    margin-left: auto;
}
  section#popularDocWrap {
    padding-top: 2rem;width: 100%;
    border-radius: 0.5rem;
}
  .popularDocWrap .right-container a {
      font-size: 16px;
    }
  .popularDocWrap input {
    width: 100%;
    margin-left: 0;
}
.popularDocWrap .lhs2 {
    width: 100%;
}
.popularDocWrap .rhs2 {
    width: 100%;
    margin-left: 0;
}
.popularDocWrap .doc-row{margin-top: 1rem;}
.popularDocWrap .heading2{padding-bottom: 1rem;}
.popularDocWrap .doc {
    align-items: self-start;
    height: 124px;
    justify-content: start;
    padding-bottom: 1rem;
}
.popularDocWrap .card-body .left-container {
    margin-top: 0px;
}
.popularDocWrap .section-row #accordion button.btn-style1 {
    margin-top: 0rem;
    height: 2rem;
}
}
@media only screen and (min-width: 701px) and (max-width: 1300px) {
.document-creation-container {
    padding-top: 6%;
}
.popularDocWrap .doc-row {
    margin-top: 0rem;
}
section#popularDocWrap {
width: 96%;
border-radius: 1rem;
}
.document-tab .doc-row {
    border-radius: 8px;
}
}
</style>