<div class="section-row section1 wrap stats1">
    <div class="lhs txt-m" data-aos="fade-up" data-aos-duration="2000">Wizard Legal Users saves up to <span class="green bold">95%</span> on legal fees annually.</div>
    <div class="rhs rhs1 info-wrap" data-aos="fade-left" data-aos-duration="2000">
      <div class="stats1-rhs">
        <img class="stats1-img" src="../assets/img/lightgreen-panel.png"/>
      <div class="info-wrap1">
        <div class="r1 d-flex">
          <div class="info info1">
            <div class="t1">500 +</div>
            <div class="t2">Documents</div>
          </div>
          <div class="info info2 ml-auto">
            <div class="t1">1000 +</div>
            <div class="t2">Companies</div>
          </div>
        </div>
        <div class="r2 d-flex">
          <div class="info info3">
            <div class="t1">1 M +</div>
            <div class="t2">Document downloads</div>
          </div>
          <div class="info info4 ml-auto">
            <div class="t1">10000 +</div>
            <div class="t2">Users</div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
        .stats1 .info-wrap .info .t1{color: #08AD80;font-size: 2.7vw;font-family: psBold;}
        .stats1 .info-wrap .info .t2{color: #444444;font-size: 1.4vw;}
        .stats1 .info-wrap .r2{margin-top: 17vh;}
        .stats1 .rhs.rhs1.info-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
        .section-row.stats1.wrap {width: 84%;margin: 1.5vw auto 0 auto;align-items: center;}
        .section-row .lhs.txt-m {
          font-size: 2.75vw;
          line-height: 3.7vw;
          font-weight: bold;
        }
        .stats1-rhs {
    width: 85%;
    position: relative;
}
.info-wrap1 {
    position: absolute;
    top: 20%;
    left: 14%;
    width: 80%;
}
          .stats1 .lhs span.green{font-size: 3.75vw;}
.stats1-img{width:100%;height: 100%;}
.stats1 .info-wrap .r2{margin-top: 16%;}
@media only screen and (max-width:800px){
  .section-row .section1 .wrap .stats1{flex-direction: column;}
  .stats1 .rhs.rhs1.info-wrap {
    justify-content: center;
}
}
@media only screen and (max-width:700px) {
.section1 .info-wrap .info .t1 {
    font-size: 3.75vw;
}
.section1 .info-wrap .info .t2 {
    font-size: 3vw;
}
}
  </style>