<style>
  .notification-page .t20 {
    margin-bottom: 1.5em;
    margin-top: 2rem;
  }
  .form-group.form-check.input-style-wrap.child-notification {
    margin-left: 3rem;
}
.form-check.input-style-wrap label:after {
    width: 0.8rem;
    height: 0.5rem;
    top: 5px;
    left: 3px;
}
</style>
<div class="tabs-wrap notification-page box">
  <div class="t25 text-left black"><b>Notification</b></div>
  <hr class="hr1" />
  <div class="t20">Send me an email when:</div>
  <div class="notification-settings-wrap">
  </div>
</div>
<button class="btn btn-green mt-4 saveNotificationSettings" onclick="saveNotificationSettings()">Update settings</button>