<style>
  .referrals-page .boxes-wrap {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 3rem auto 0 auto;
  }

  .referrals-page .boxes-wrap .b {
    text-align: center;
  }

  .referrals-page .b .t18 {
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 15px;
  }

  .referrals-page .b .t16 {
    color: #6B6B6B;
  }

  .referrals-page .b .icon.dl {
    margin-top: -2rem;
  }

  .referrals-page .icon.dl {
    margin-top: 3rem;
  }

  .referrals-page .box.bx1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .referrals-page .bx1 .t18 {
    color: #888FA7;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
</style>
<div class="tabs-wrap referrals-page">
  <div class="box">
    <div class="t25 text-left black"><b>Referrals</b></div>
    <hr class="hr1" />
    <div class="t18 cs1">Invite you friend to Wizard legal. If they signup, you and your friend will get 100 Doc extra
    </div>
    <div class="boxes-wrap">
      <div class="b b1">
        <div class="icon"><img src="../assets/img/dashboard/db/invitation.png" class="em" alt="invitation"></div>
        <div class="t18">Send Invitation</div>
        <div class="t16">Send your referral link to friends and tell them how cool wizard legal</div>
      </div>
      <div class="icon dl"><img src="../assets/img/dashboard/db/doted-line1.png" class="em" alt="invitation"></div>
      <div class="b b2">
        <div class="icon"><img src="../assets/img/dashboard/db/registration.png" class="em" alt="invitation"></div>
        <div class="t18">Registration</div>
        <div class="t16">Let them register to our service using your referral link</div>
      </div>
      <div class="icon dl"><img src="../assets/img/dashboard/db/doted-line2.png" class="em" alt="invitation"></div>
      <div class="b b3">
        <div class="icon"><img src="../assets/img/dashboard/db/docmnt.png" class="em" alt="invitation"></div>
        <div class="t18">Get 100 Doc free!</div>
        <div class="t16">Your and your friend get 100 free doc access on your account subscription.</div>
      </div>
    </div>
  </div>

  <div class="box bx1">
    <div class="t30"><b>Become a wizard referral partner</b></div>
    <div class="t18">Earn 100 free doc access on your account for every customer that joins wizard legal.</div>
    <button class="btn btn-green">Login/ Register</button>
  </div>
</div>